extends layout

block content

  .row.row-centered.background-header(style="background-image: url('/images/about_background.jpg');")
    h1.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 We'll make it together

  .container-fluid
    .row.row-centered
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        .col-md-12.col-sm-12.col-xs-12
          p.liner.text-center 
            |We believe that many of the world’s social issues can be improved by creating a stronger, better supported culture of volunteering
        
        .col-md-12.col-sm-12.col-xs.12.break

        .col-md-12.col-sm-12.col-xs-12.text-justify
          p
            |VOLO Group is a social enterprise based in London that is dedicated to creating technologies to enhance collaboration for social progress. 
            |The first VOLO product is an online platform that brings individuals, companies and charities together through volunteering in order to create social change in local communities. 
        
        .col-md-12.col-sm-12.col-xs-12.not_colored
          h3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12 What are the objectives of VOLO? 
        

          ul.about_objectives.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-xs-12
            li
              |To streamline the volunteering process to make volunteering in the community easier and more accessible to everyone.  
            li
              |To create a marketplace for volunteer labour in order to help organisations deliver on their social purpose and increase social impact in local communities.  
            li
              |To connect different members of the community through volunteering in order to encourage community-based learning and growth and to promote tolerance.  
            li
              |To help create sustainable solutions to local social issues and to encourage social mobility.  
            li
              |To help individuals develop skills and gain experience through volunteering and  demonstrate this growth to employers in a new and meaningful way.  
            li
              |To inform the public of important social issues.

        
        p.col-md-12.col-sm-12.col-xs-12.text-justify
          |We are an early stage startup and are currently welcoming investment and partnership opportunities.  
          |If you are interested in learning more about VOLO, please 
          a(href="mailto:melissa@volo.org.uk?subject=VOLO Partnership Information Request" target="_blank") contact us
          |. 

        .col-md-12.col-sm-12.col-xs.12.break
