extends layout

block content

  //- inline editing
  script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
  
  div.container-fluid
    div.row.row-centered
      .col-md-12.content.corpo
        .col-md-12.company_top(style="background-image: url('/images/starbucks_large.jpg');")
        .col-md-10.col-md-offset-1
          .col-md-2.profile_photo.clearfix
            img(src="/images/square_placeholder.png")
          .col-md-10
            h3
              a(href="#", id="company_name", data-type="text", data-pk="company_name", data-url="#", data-title="Enter Company Name", required) Starbuck
            a(href="#", id="company_tagline", data-inputclass="input-xxlarge", data-type="textarea", data-pk="company_tagline", data-url="#", data-title="Enter Company Slogan", required) We’ve always believed that businesses can – and should – have a positive impact on the communities they serve.
          
          .col-md-12.contacts
            h3 Contacts 
            .col-md-6.no-gutter
              p
                |Website: 
                a(href="http://www.coolcorpo.org.uk/") <em>http://www.coolcorpo.co.uk</em>
                br
                |Email: 
                a(href="mailto:london@coolcorpo.org.uk") <em>london@coolcorpo.co.uk </em>
                br
                |Phone Number: <em>555-5555-555</em>
            .col-md-6.no-gutter
              p Location: <br/>
                |<em>25 Lexington St <br/>
                |London W1F 9AG, UK</em>           

            //- todo: add a link to see the public profile

          .col-md-12
            h3 We support volunteering

            ul.col-md-12.support_vol.text-center
              li.col-md-4.col-sm-6.col-xs-12
                img(src="/images/c_photo1.png")
                p.caption Lorem ipsum 09/08/15

              li.col-md-4.col-sm-6.col-xs-12
                img(src="/images/c_photo2.png")
                p.caption Lorem ipsum 10/08/15

              li.col-md-4.col-sm-6.col-xs-12
                img(src="/images/c_photo3.png")
                p.caption Lorem ipsum 11/08/15

              li.col-md-4.col-sm-6.col-xs-12
                img(src="/images/c_photo4.png")
                p.caption Lorem ipsum 12/08/15
              
              li.col-md-4.col-sm-6.col-xs-12
                img(src="/images/c_photo5.png")
                p.caption Lorem ipsum 12/08/15

            //- Todo: add a box with add photo + caption

          .col-md-12.csr_effort
            h3 Learn more about us

            p Ever since we opened our first store in 1971, we’ve dedicated ourselves to earning the trust and respect of our customers, partners (employees) and neighbours. How? By being responsible and doing things that are good for the planet and each other.

            .row
              .col-md-6
                h4.text-center Community
                p As good neighbours we get involved with local efforts to bring people together and create positive change whenever we can.
                a(href="http://www.starbucks.co.uk/responsibility/community/community-service") Learn more about community
              
              .col-md-6
                h4.text-center Environment
                p We’re finding ways to minimise our environmental footprint, tackle climate change, and inspire others to do the same.
                a(href="http://www.starbucks.co.uk/responsibility/community/community-service") Learn more about Environment

            .row
              .col-md-6
                h4.text-center Ethical Sourcing
                p We’re committed to buying and serving the highest-quality, responsibly grown, ethically traded coffee to help create a better future for farmers.
                a(href="http://www.starbucks.co.uk/responsibility/community/community-service") Learn more about Ethical Sourcing

              .col-md-6
                h4.text-center Diversity
                p By welcoming a diversity of people and ideas to our business, we create more opportunities for learning and success that benefit customers, partners and suppliers.
                a(href="http://www.starbucks.co.uk/responsibility/community/community-service") Learn more about Diversity
          
          //- todo: change it for 2 inputs: title + content.

          .col-md-12.break
          .col-md-12.text-center
            //- todo: change this button with 2 inputs: link + text
            a(href="mailto:csr@coolcorpo.co.uk", class="btn sharp btn-lg btn-primary big-btn") Check out how we could work together


    script.
      var $body = $(document.body),
        $doc = $(document),
        $popup = $(),
        $layover = $(),
        $back = $();
      $(document).ready(function() {
        $.fn.editable.defaults.mode = 'inline';
        $("#company_name").editable();
        $("#company_tagline").editable();

        $('.support_vol li img').on('click', function() {
          $body.css('overflow', 'hidden');
          $popup.remove();
          $layover.remove();
          $back.remove();
          $popup = $('<div class="popup fadeout">').append(
              '<img src="'+$(this).attr('src')+'"/></div>')
            .appendTo(document.body);

          $layover = $('<div class="layover fadeout">').appendTo(document.body);

          //- $back = $('<span class="back glyphicon glyphicon-remove"></span>').appendTo($(".popup"));
          setTimeout(function () {
            $popup.removeClass('fadeout');
            $layover.removeClass('fadeout');
            $back.removeClass('fadeout');
            $doc.on('click', closeImage);
            $doc.keyup(function(e) {
              if (e.keyCode == 27) { closeImage() }  
            });
          }, 20);
          $(window).resize();
        });
        $(window).resize(function(){
          $('.popup').css({
            width: $('.popup').width()+'px',
            height: $('.popup').height()+'px',
            marginLeft: $('.popup').width() * -0.5 + 'px',
            marginTop: $('.popup').height() * -0.5 + 'px'
          });

          });
      });
      
      closeImage = function () {
        $body.css('overflow', '');
        $doc.off('click', closeImage);
        $popup.removeClass('fadeout');
        $layover.removeClass('fadeout');
        $back.removeClass('fadeout');

        setTimeout(function () {
          $popup.remove();
          $layover.remove();
          $back.remove();
        }, 300);
      };