head
    title #{title} - VOLO
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    //- link(href='/less/style.less', rel='stylesheet/less', type="text/css")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js")
    link(href='/stylesheets/style.css', rel='stylesheet')
    block head-css
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    block head-js
    meta(name="theme-color", content="#ffffff")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="VOLO brings individuals, companies and charities together to collaborate for social change.  Join the movement: Social Responsibility is everyone's responsibility")
    meta(property="og:url", content="http://www.volo.org.uk")
    meta(property="og:type", content="website")
    meta(property="og:title", content="VOLO - Social Responsibility is everyone's responsibility")
    meta(property="og:description", content="VOLO brings individuals, companies and charities together to collaborate for social change.  Join the movement: Social Responsibility is everyone's responsibility")
    meta(property="og:image", content="http://www.volo.org.uk/images/volo_logo_big.png")
    script(src="/javascripts/ga.js")
        