extends layout

block content

  div.row.row-centered.background-header(style="background-image: url('/images/nonprofit_background.jpg');")
    h1.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 Get help to make the world a better place

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        
        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          p.liner.text-center 
            |VOLO connects you with volunteers that have the skills you need to move your vision forward.
        
        .col-md-12.col-sm-12.col-xs.12.break

        .col-md-12.col-sm-12.col-xs-12.text-center
          .col-md-4.col-sm-4.col-xs-12
            img.pictogram(src="/images/educate.svg", alt="VOLO educate")
            h4 EDUCATE

          .col-md-4.col-sm-4.col-xs-12
            img.pictogram(src="/images/do_good.svg", alt="VOLO do good")
            h4 GROW

          .col-md-4.col-sm-4.col-xs-12
            img.pictogram(src="/images/connect.svg", alt="VOLO connect")
            h4 CONNECT
    
    .row.row-centered.colored
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-justify
          p 
            |VOLO provides a platform for organisations to inform the community about important 
            |local social issues, in order to educate the public and gain support for their 
            |initiatives. Charities can create free public profiles on VOLO and can advertise 
            |their volunteering opportunities to our network to help find assistance for 
            |specific projects. In bringing attention to local issues and connecting charities 
            |with volunteers, we aim to help create greater social impact in the community.
            br
            br
            |VOLO also provides organisations with a simple and effective way to track, 
            |engage and recognize volunteers. And as volunteers can enhance their employability 
            |through VOLO,￼when your organisation registers with us, you help individuals succeed!

        .col-md-12.col-sm-12.col-xs-12.break

        .col-md-12.col-sm-12.col-xs-12.text-center
          a(href="/register-organisation", class="btn sharp btn-lg btn-primary big-btn") Register with volo
        .col-md-12.col-sm-12.col-xs-12.break

        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          h4.text-center 
            |VOLO today and grow together for a better tomorrow!

    .row.row-centered.not_colored
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        .col-md-12.col-sm-12.col-xs-12
          h3.text-center.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12 Our nonprofit partners
          .col-md-4.col-sm-6.col-xs-12.unique_volunteer
            a(href="/nonprofit/ageuk_eastlondon")
              .col-md-12.col-sm-12.col-xs-12.user-bg.text-center
                img(src="/images/nonprofit/logo_age_uk_east_london.jpg", alt="logo AgeUK")
                p.volunteer_name Age UK East London
          .col-md-4.col-sm-6.col-xs-12.unique_volunteer
            a(href="/nonprofit/mosaic")
              .col-md-12.col-sm-12.col-xs-12.user-bg.text-center
                img(src="/images/nonprofit/logo_mosaic.jpg", alt="logo Mosaic")
                p.volunteer_name Mosaic
          .col-md-4.col-sm-6.col-xs-12.unique_volunteer
            a(href="/nonprofit/challenge_africa")
              .col-md-12.col-sm-12.col-xs-12.user-bg.text-center
                img(src="/images/nonprofit/logo_challenge_africa.jpg", alt="logo Challenge Africa")
                p.volunteer_name Challenge Africa
          .col-md-4.col-sm-6.col-xs-12.unique_volunteer
            a(href="/nonprofit/mass_challenge")
              .col-md-12.col-sm-12.col-xs-12.user-bg.text-center
                img(src="/images/nonprofit/logo_mass_challenge.jpg", alt="logo Mass Challenge")
                p.volunteer_name Mass Challenge


        .col-md-12.col-sm-12.col-xs-12.break
          