extends layout

block content
  
  .container-fluid
    .row.row-centered
      .col-md-12.content.corpo
        .col-md-12.company_top(style="background-image: url('/images/ageUK_background.png');")
        .col-md-10.col-md-offset-1
          .col-md-2.profile_photo.clearfix
            img(src="/images/ageUK.png")
          .col-md-10
            h3 Age UK
            h5.text-left Age UK is the country's largest charity dedicated to helping everyone make the most of later life.
          
          .col-md-12.col-sm-12.col-xs-12.break

          .col-md-12.col-sm-12.col-xs-12.not_colored
            h3.text-center.col-md-4.col-md-offset-4 About us
            .col-md-12.col-sm-12.col-xs-12.no-gutter
              p 
              |The over-60s is the fastest-growing group in society and there are more of us than ever before.
              br
              br
              |Ageing is not an illness, but it can be challenging. At Age UK we provide services and support at a national and local level to inspire, enable and support older people.
              br
              br
              |We stand up and speak for all those who have reached later life, and also protect the long-term interests of future generations.

          .col-md-12.col-sm-12.col-xs-12.break

          .col-md-6.col-sm-6.col-xs-12
            p 
              |Website: 
              a(href="http://www.ageuk.org.uk") <em>http://www.ageuk.org.uk</em>
              br
              |Email: 
              a(href="mailto:london@ageuk.org.uk") <em>london@ageuk.org.uk </em>
              br
              |Phone Number: <em>020 7820 6770</em>
          .col-md-6.col-sm-6.col-xs-12
            p
              |Location: <br/>
              |<em>21 St Georges Road
              br
              |LONDON, SE1 6ES</em> 

          .col-md-12.col-sm-12.col-xs-12.not_colored
            h3.text-center.col-md-4.col-md-offset-4 Our great team
            .col-md-12.col-sm-12.col-xs-12.no-gutter
              .col-md-4.col-sm-4.col-xs-6
                .text-center.user-bg.no-gutter
                  img(src="/images/lesa.jpg")
                  p.volunteer_name Lesa 
                  p Volunteer Manager Camden
              .col-md-4.col-sm-4.col-xs-6
                .text-center.user-bg.no-gutter
                  img(src="/images/jay.jpg")
                  p.volunteer_name Jay 
                  p Volunteer Manager Westminster

              .col-md-4.col-sm-4.col-xs-6
                .text-center.user-bg.no-gutter
                  img(src="/images/hannah.jpg")
                  p.volunteer_name Hannah 
                  p Volunteer Manager Lambeth

          .col-md-12.col-sm-12.col-xs-12.break  

    .row.row-centered
      .col-md-12.col-sm-12.col-xs-12.colored
        .col-md-12.col-sm-12.col-xs-12
          h3.text-center.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12 Our fantastic volunteers

          .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.volunteer_list
          
          script(src="/javascripts/nonprofitProfilePage.min.js")
            



          