extends layout

block content
  .container-fluid
    .row.row-centered.not_colored.no-header
      .col-md-12.col-sm-12.col-xs-12.text-center
        h3.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12 Register your organisation
      div(class="typeform-widget", data-url="https://vologroup.typeform.com/to/rX76zS", data-text="Register on VOLO", style="width:100%;height:500px")
      script.
        (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()