extends layout

block content
  
  .container-fluid
    .row.row-centered
      .col-md-12.content.corpo
        .col-md-12.company_top(style="background-image: url('/images/uni_placeholder.jpg');")
        .col-md-10.col-md-offset-1
          .col-md-2.profile_photo.clearfix
            img(src="/images/square_placeholder.png")
          .col-md-10
            h3 University of Future Leaders
            p.tagline A leading global University committed to academic excellence, focused on business and the professions. We are proud of the quality of our education, research and enterprise
            //- .col-md-2.text-center
            //-   a(href="mailto:csr@coolcorpo.co.uk", class="btn sharp btn-lg btn-primary big-btn") Contact us

            .col-md-12.break
            .col-md-12.no-gutter_l
              .col-md-6.no-gutter_l
                p
                  |Website: 
                  a(href="#") <em>http://www.uni_of_future.ac.uk</em>
                  br
                  |Email: 
                  a(href="#") <em>london@uni_of_future.co.uk </em>
                  br
                  |Phone Number: <em>777-5555-555</em>
              .col-md-6
                p Location: <br/>
                  |<em>25 Lexington St <br/>
                  |London W1F 9AG, UK</em>           
          .col-md-12.break
          
          
          .col-md-8.col-md-push-2.col-sm-12.col-xs-12.not_colored
            h3.col-md-10.col-md-push-1.text-center We encourage student volunteering: 
            p.col-md-8.col-md-push-2.text-center
              |University of Future Leaders understands the importance that higher education plays in fostering a community of socially responsible citizens. Our students contribute thousands of hours each year to help charities deliver on their social missions. Check out the great work our students are doing in the community:
            .col-md-12.col-sm-12.col-xs-12.break
              
            .col-md-4.col-sm-4.col-xs-6
              .col-md-12.col-sm-12.col-xs-12.text-center.user-bg
                img(src="/images/melissa.png")
                p.volunteer_name Melissa 
            .col-md-4.col-sm-4.col-xs-6
              .col-md-12.col-sm-12.col-xs-12.text-center.user-bg
                img(src="/images/baptiste.png")
                p.volunteer_name Baptiste

            .col-md-4.col-sm-4.col-xs-6
              .col-md-12.col-sm-12.col-xs-12.text-center.user-bg
                img(src="/images/leonie.png")
                p.volunteer_name Léonie 