extends layout

block content

  .row.row-centered.background-header(style="background-image: url('/images/university_background.jpg');")
    h1.text-center.col-md-10.col-md-push-1.col-xs-12.col-sm-12 Empower your students through Social Action 

  .container-fluid
    .row.row-centered
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        
        .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          p.liner.text-center ￼Help build a stronger and more socially conscious workforce
        
        .col-md-12.col-sm-12.col-xs-12.break

        .col-md-12.col-sm-12.col-xs-12
          p.text-justify
            |It is now essential for students to have valuable work experience prior to graduation in
            |order to secure entry-level roles. Work placement opportunities however are limited in
            |availability and are extremely competitive.
          
          .col-md-12.col-sm-12.col-xs-12.break

          .col-md-12.col-sm-12.col-xs-12.content
            .col-md-6.col-sm-6.col-xs-12.text-justify.no-gutter
              p.col-md-12.no-gutter
                |When students volunteer through VOLO,
                |they gain valuable experience to enrich
                |their CVs while at the same time
                |providing charities with much needed
                |help and support.

            img.col-md-5.col-md-push-1.col-sm-6.col-xs-12.no-gutter_r(src="/images/enrich_CV.jpg")
          
          .col-md-12.col-sm-12.col-xs-12.break
          .col-md-12.col-sm-12.col-xs-12.break

          .col-md-12.col-sm-12.col-xs-12.no-gutter
            img.col-md-6.col-sm-6.col-xs-12.no-gutter(src="/images/skills.jpg")
            .visible-xs
              p &nbsp;
            .col-md-5.col-sm-5.col-xs-12.text-justify.col-md-offset-1.col-sm-offset-1.no-gutter_r
              p.col-md-12.col-sm-12.col-xs-12.no-gutter_r
                |Volunteering also assists students in
                |developing important soft skills that
                |are highly coveted by employers and
                |the VOLO platform allows these skills
                |to be tracked in a meaningful way

        .col-md-12.col-sm-12.col-xs-12.break
        .col-md-12.col-sm-12.col-xs-12.break

    .row.row-centered.colored
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        .col-md-12.col-sm-12.col-xs-12
          h3.text-center.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12 How VOLO Helps Universities

          .col-md-12.col-sm-12.col-xs-12.text-center
            .col-md-4.col-sm-4.col-xs-12
              img.pictogram(src="/images/promote.svg", alt="VOLO promote")
              h4 PROMOTE

            .col-md-4.col-sm-4.col-xs-12
              img.pictogram(src="/images/track.svg", alt="VOLO track")
              h4 TRACK

            .col-md-4.col-sm-4.col-xs-12
              img.pictogram(src="/images/connect.svg", alt="VOLO connect")
              h4 CONNECT

          .col-md-12.col-sm-12.col-xs-12.break

          .col-md-12.col-sm-12.col-xs-12
            p
              |Students can locate, track and promote their volunteer work through VOLO, which helps
              |universities to cut down the administrative burden associated with delivering high-impact,
              |on-campus volunteering programs. VOLO also helps universities to promote their social
              |initiatives to the public and connects them with socially minded small and medium size
              |enterprises to expand student placement opportunities.
    
    .row.row-centered.not_colored
      .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
        .col-md-12.col-sm-12.col-xs-12
          img.col-md-6.col-sm-6.col-xs-12(src="/images/volo_partnering.jpg")
          .visible-xs
            p &nbsp;
          .col-md-5.col-sm-5.col-xs-12.text-justify.col-md-offset-1.col-sm-offset-1
            .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              a(href="/register-university", class="btn sharp btn-lg btn-primary big-btn no_wrap") Register to be a VOLO Partner University
            
            h4.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
              br
              |When universities VOLO,
              |everybody benefits!
    
    //- .row.row-centered.colored
    //-   .col-md-10.col-md-offset-1.content.col-sm-12.col-xs-12
    //-     .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
    //-       h3.text-center.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12 Our partners
    //-       .col-md-12.col-sm-12.col-xs-12
    //-       .col-md-4.col-sm-6.col-xs-6
    //-         a(href="/u_profile")
    //-           .col-md-12.col-sm-12.col-xs-12.user-bg.text-center
    //-             img(src="/images/square_placeholder.png")
    //-             p.volunteer_name University 1
    //-       .col-md-4.col-sm-6.col-xs-6
    //-         a(href="/u_profile")
    //-           .col-md-12.col-sm-12.col-xs-12.user-bg.text-center
    //-             img(src="/images/square_placeholder.png")
    //-             p.volunteer_name University 2
    //-       .col-md-4.col-sm-6.col-xs-6
    //-         a(href="/u_profile")
    //-           .col-md-12.col-sm-12.col-xs-12.user-bg.text-center
    //-             img(src="/images/square_placeholder.png")
    //-             p.volunteer_name University 3
