extends layout

block content

  div.container-fluid
    div.row.row-centered
      div.col-md-10.col-md-offset-1.content
        .col-md-12
          h3 Volunteer results
          p.liner Here you can track the student volunteering hours made by your students.
        .col-md-12.break
        .col-md-12.col-sm-12.col-xs-12
          .panel-group#accordion
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(data-toggle="collapse", data-parent="#accordion", href="#collapse-month") By Month
              .panel-collapse.collapse.in#collapse-month
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover#table_perMonth
                    thead
                      tr
                        th Student
                        th September
                        th October
                        th November
                        th December
                    tbody
                      tr
                        td John Doe
                        td 1 hour
                        td 0 hour
                        td 3 hours
                        td 2 hours
                      tr
                        td James Smith
                        td 1 hour
                        td 3 hours
                        td 2 hours
                        td 4 hours

            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-discipline", data-toggle="collapse", data-parent="#accordion") By Discipline
              .panel-collapse.collapse#collapse-discipline
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Discipline
                      th September
                      th October
                      th November
                      th December
                    tr
                      td Law
                      td 10 hours
                      td 12 hours
                      td 15 hours
                      td 8 hours
                    tr
                      td Computer science
                      td 9 hour
                      td 12 hours
                      td 8 hours
                      td 5 hours

            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-graduation", data-toggle="collapse", data-parent="#accordion") By Graduation Year
              .panel-collapse.collapse#collapse-graduation
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Graduation
                      th September
                      th October
                      th November
                      th December
                    tr
                      td 2015
                      td 10 hours
                      td 12 hours
                      td 15 hours
                      td 8 hours
                    tr
                      td 2016
                      td 9 hour
                      td 17 hours
                      td 18 hours
                      td 27 hours

            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-undergrade", data-toggle="collapse", data-parent="#accordion") Undergraduate vs. Postgraduate
              .panel-collapse.collapse#collapse-undergrade
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Status
                      th September
                      th October
                      th November
                      th December
                    tr
                      td Undergraduate
                      td 100 hours
                      td 112 hours
                      td 88 hours
                      td 90 hours
                    tr
                      td Postgraduate
                      td 123 hour
                      td 117 hours
                      td 124 hours
                      td 117 hours

            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href="#collapse-active", data-toggle="collapse", data-parent="#accordion") Active vs. non-active 
              .panel-collapse.collapse#collapse-active
                .panel-body.table-responsive
                  table.col-md-12.table.table-bordered.table-hover
                    tr
                      th Student
                      th Status
                    tr
                      td John Doe
                      td Active
                    tr
                      td James Smith
                      td Non-active
                    tr 
                      td Jack John
                      td Active
      
      script(src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js")
      link(href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css")
      script.
        $(document).ready(function () {
          $('#table_perMonth').DataTable({paging: false});
        });