  <div class="well">
    <%= link_to "New Product", new_article_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-product"></div>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody class="product-index">
    <%= render 'articles/articleTable', obj: obj %>
  </tbody>


</table>

<div id="myModal" class="modal fade"></div>







