<div class="well" style="min-height:75px">
  <%= link_to "New List Item", new_article_path, remote: true, class: "btn btn-primary" , :style => "float:right" %>
  </div>
  <div class="new-product"></div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>

  </tr>
  </thead>

  <tbody class="product-index">
    <%= render 'articles/articleTable', obj: obj %>
  </tbody>


</table>

<div id="myModal" class="modal fade"></div>







