form(action="/experience/new", method="POST")
  h4 Nonprofit
  .form-group.col-md-12.no-gutter
    input(type="hidden", name="volunteer", value="#{volunteer._id}")
    label.col-md-12.col-sm-12.col-xs-12.no-gutter(for="nonprofit") Nonprofit name *
    select.col-md-12.col-sm-12.col-xs-12(id="nonprofit", name="nonprofit", class="select2-single", required)
    a(href="#", class="little", data-toggle="modal", data-target="#nonprofitModal") Add a new nonprofit
    label.col-md-12.col-sm-12.col-xs-12.no-gutter(for="description") Description of your experience
    textarea.col-md-12.col-sm-12.col-xs-12(name="description", rows="2")

  h4 Activity
  .form-group.col-md-12.no-gutter
    label.col-md-12.col-sm-12.col-xs-12.no-gutter(for="role") Role
    select.col-md-12.col-sm-12.col-xs-12(id="role", class="select2-single role", name="role", required)
    a(href="#", class="little", data-toggle="modal", data-target="#roleModal") Add a new role
    .col-md-12.col-sm-12.col-xs-12.no-gutter
      .col-md-6.col-sm-6.col-xs-12.no-gutter
        label.col-md-12.col-sm-12.col-xs-12.text-left.no-gutter(for="skills") Skills developed
        select.col-md-12.col-sm-12.col-xs-12(id="skills", name='skills', class="skills_list select2-multiple", multiple, required)
        a(href="#", class="little", data-toggle="modal", data-target="#skillModal") Request to add a new skill

      .col-md-6.col-sm-6.col-xs-12.no-gutter_r
        label.col-md-12.col-sm-12.col-xs-12.text-left.no-gutter(for="hours") Number of hours
        input.col-md-12.col-sm-12.col-xs-12(name="hours", type="number", min="1", required)

    label.col-md-12.col-sm-12.col-xs-12.text-left.no-gutter(for="s_date") Dates
    .col-md-12.col-sm-12.col-xs-12.no-gutter
      .col-md-6.col-sm-6.col-xs-12.no-gutter
        span.col-md-12.col-sm-12.col-xs-12.date_label.no-gutter From *: 
        input.col-md-12.col-sm-12.col-xs-12(name="s_date", type="date", required)
      .col-md-6.col-sm-6.col-xs-12.no-gutter_r
        span.col-md-12.col-sm-12.col-xs-12.date_label.no-gutter To: 
        input.col-md-12.col-sm-12.col-xs-12(name="e_date", type="date")

  h4 Referee
  p 
    |Please enter the name and contact details of someone from the organisation that can confirm your volunteer work and hours. 
  .form-group.col-md-12.no-gutter
    .col-md-6.col-sm-6.col-xs-12.no-gutter
      label.col-md-12.col-sm-12.col-xs-12.no-gutter(for="referee_name") Referee name *
      input.col-md-12.col-sm-12.col-xs-12(name="referee_name", type="text", pattern="[a-zA-Z ]+", required, title="Please enter the real name of the referee, this name will appear on your recommendation if he decides to make you one" \
      onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');")
    .col-md-6.col-sm-6.col-xs-12.no-gutter_r
      label.col-md-12.col-sm-12.col-xs-12.no-gutter(for="referee_phone") Referee phone number *
      input.col-md-12.col-sm-12.col-xs-12(name="referee_phone", required, type="text", pattern="[0-9 \\-()+]{3,20}", title="Please enter a valid phone number" \
      onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');")

    label.col-md-12.col-sm-12.col-xs-12.no-gutter(for="referee_email") Referee email *
    input.col-md-12.col-sm-12.col-xs-12(name="referee_email", type="email", required)
  
  .form-group.col-md-12.no-gutter
    .col-md-12.col-sm-12.col-xs-12.no-gutter
      p 
        |This person should be aged 18 or over and you must ask their permission before giving us their details. 
        |Please note that the name you enter above will be displayed in the e-mail sent to your referee and on your public profile if they write you a recommendation.
  
  .form-group.col-md-12.no-gutter
    .col-md-12.col-sm-12.col-xs-12.no-gutter
      p 
        input.checkbox-inline(type="checkbox", value="true", name="validated_via_email")
        |If you already have a <em>signed document confirming your work with this organisation</em>, please tick this box and we will not send an e-mail to the referee. 
        |You MUST also e-mail your signed document to <a href="mailto:melissa@volo.org.uk">Melissa@volo.org.uk</a> in order to get credit on your VOLO profile.

  h4 Personal Notes
  .form-group.col-md-12.no-gutter
    label.col-md-12.col-sm-12.col-xs-12.no-gutter(for="notes") Add personal notes regarding this activity – they won’t be public. 
    textarea.col-md-12.col-sm-12.col-xs-12(name="notes", rows="2", placeholder="Track the situations, tasks, actions and results you encounter through your volunteer experiences. You can refer back to these notes to help you better prepare for interviews.")

  .form-group.col-md-12.text-center
    input(type="submit", value="Submit this experience", class="btn btn-primary first-btn")

  .form-group.col-md-12.no-gutter
    p 
      |<em>PLEASE NOTE:</em> Clicking "Submit this experience" will send an e-mail to your referee, unless you have ticked the pre-authorisation box.
