<h1>All Alpha Bloggers </h1>
<% @users.each do |user| %>
 <ul>
   <li><%= link_to gravatar_for(user),user_path(user) %></li>
   <li>
     <%= link_to user.username,user_path(user) %>
   </li>
   <li><small><%= pluralize(user.articles.count,"articles") if user.articles %></small></li>
</ul>
<% end %>
<%= will_paginate %>
