<div class="container">
  <%= gravatar_for @user, size:150 ,:class=> "float-left"%>
<h2><%= @user.username %></h2>


<%=render 'articles/article', obj:@user_articles %>
<%= will_paginate @user_articles %>
</div>




