extends ../layout

block content
  
  .container-fluid
    .row.row-centered
      .col-md-12.content.corpo
        .col-md-12.company_top(style="background-image: url('/images/nonprofit/header_habitat.jpg');")
        .col-md-10.col-md-offset-1
          .col-md-2.col-sm-3.col-xs-12.profile_photo
            img(src="/images/nonprofit/logo_habitat.jpg", alt="logo habitat for humanity")
          .col-md-10.col-sm-9.col-xs-12
            h3 Habitat for Humanity Great Britain
          
          .col-md-12.col-sm-12.col-xs-12.not_colored
            h3.text-center.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12 About us
            .col-md-12.col-sm-12.col-xs-12.no-gutter
              p.text-justify
                |Habitat for Humanity’s vision is a world where everyone has a safe and decent 
                |place to live and housing poverty and homelessness are eliminated. We believe 
                |that the home is a key catalyst in helping to permanently break the cycle of poverty.
                br
                br
                |Habitat for Humanity's Mission Statement:
              ol.text-justify
                li To champion decent housing as a human right. 
                li 
                  |Mobilise and support communities to implement projects that help people in housing need to claim their housing rights, create access to and 
                  |overcome barriers to safe, decent and appropriate housing. This usually takes the form of a community-led construction, renovation or new build project.
                li
                  |Make housing poverty and homelessness a matter of conscience and action so that it becomes unacceptable in every nation on earth.

              .col-md-12.col-sm-12.col-xs-12.break

              .col-md-6.col-sm-6.col-xs-12.no-gutter
                p 
                  |Website: 
                  a(href="http://www.habitatforhumanitygbhomes.org.uk", rel="external", target="_blank") <em>http://www.habitatforhumanitygbhomes.org.uk</em>
                  br
                  |Phone Number: <em>+44 (0)20 7732 0066</em>
                  br
                  |E-mail: 
                  a(href="mailto:volunteering@habitatforhumanity.org.uk") <em>volunteering@habitatforhumanity.org.uk</em>
              .col-md-6.col-sm-6.col-xs-12.no-gutter
                p
                  |Location: <br/>
                  em
                    |93 Gordon Road <br/>
                    |London SE15 3RR
        
        .row.row-centered
          .col-md-12.col-sm-12.col-xs-12.colored
            .col-md-10.col-md-offset-1.col-sm-12.col-xs-12
              h3.text-center.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12 Volunteer with us
              .col-md-12.col-sm-12.col-xs-12.no-gutter
                p.text-justify
                  |Right up your street, there could be an empty house, and yet, we have families on our doorsteps with nowhere to call home. 
                  |Our Empty Homes Programme aims to bring the two together, by refurbishing empty houses for families in need. 
                  |These renovations are only possible with the help of volunteers. If you would like to join us on a building site in the UK to help renovate and fill empty homes, please contact our 
                  a(href="http://habitatforhumanitygbhomes.org.uk/get-involved/individual-volunteering/", rel="external", target="_blank") <em>London office</em>.
                  br
                  br
                  |We are also recruiting for an Office Volunteer to assist us in our offices in Slough. Please download the full role description below and email your CV and covering letter to 
                  a(href="mailto:volunteering@habitatforhumanity.org.uk") <em>volunteering@habitatforhumanity.org.uk</em>
                  br
                  br
                  h5 
                    a(href="http://www.downloads.habitatforhumanity.org.uk/Office Volunteer Role Description.pdf", target="_blank", rel="external") See our Office Volunteer Role Description

            .col-md-12.col-sm-12.col-xs-12.break  

    .row.row-centered
      .col-md-12.col-sm-12.col-xs-12.not_colored
        .col-md-12.col-sm-12.col-xs-12

          .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.volunteer_list#id_56434c40968b161c00df2a46
          
          script(src="/javascripts/nonprofitProfilePage.min.js")
            



          