-function format_date(date){
- var newDate = new Date(date);
- var y = newDate.getFullYear();
- var month = new Array(); 
- month[0] = '01';
- month[1] = '02';
- month[2] = '03';
- month[3] = '04';
- month[4] = '05';
- month[5] = '06';
- month[6] = '07';
- month[7] = '08';
- month[8] = '09';
- month[9] = '10';
- month[10] = '11';
- month[11] = '12'; 
- var m = month[newDate.getMonth()];
- var d = newDate.getDate();
- if (d <10) d= '0'+d;
- return d+'/'+m+'/'+y;
-}
-function plurialize(number){
-if (number == 1) return number + ' hour'
-else return number + ' hours'
-}
-function plurialize_activities(number){
-if (number == 1) return number + ' other new activity';
-else return number + ' other new activities';
-}
doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Activity Validation
  body
    table(align='center', cellpadding='0', cellspacing='0', width='100%', height='100%')
      tr
        td(align='center', valign='top', style='background-color:#ffffff', width='100%')
          center
            table.w320(cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='center', valign='top')
                  table.force-full-width(cellspacing='0', cellpadding='0')
                    tr
                      td.logo(style="background-color:black")
                        br
                        a(href='#')
                          img(src='http://www.volo.org.uk/images/volo_logo.png', alt='Logo')
                        h4 Social Responsibility is EVERYONE’s responsibility
              tr
                td(align='center', valign='top')
                  table.force-full-width(cellspacing='0', cellpadding='0')
                    tr
                      td
                        br
                    tr
                      td
                        h4 Welcome to the VOLO community, #{name}!
                        p 
                          |We are delighted that you've decided to join our network of motivated individuals around 
                          |the world who are collaborating for social change through <a href="http://www.volo.org.uk">VOLO</a>.

                    tr
                      td
                        h4 Let's get started!  

                    tr
                      td
                        p.steps
                          b Step 1: 
                          |Volunteer in your local community
                          br
                          |(Volunteering can be any unpaid work that you have done with an organisation in order to 
                          |contribute towards a social benefit or charitable cause) 

                        p.steps
                          b Step 2: 
                          |Upload your volunteer work on 
                          a(href="#{url}") VOLO

                        p.steps
                          b Step 3: 
                          |Share your good work. Just add a link to your VOLO profile page on your CV or 
                          |LinkedIn profile to show employers the great skills you are building through volunteering. 
                          br
                          |Also, share your volunteering experiences on social media using #VOLO and <a href="https://twitter.com/volo4change">@volo4change</a>.
                          br
                          br

                    tr
                      td(valign='top')
                        p 
                          |We are still in the early stages of growing the VOLO community and have many great things to come for our volunteers, 
                          |so please invite your socially minded friends to join us!
                        
                        p
                          |We'd also love to hear your feedback! We have a lot of exciting plans for VOLO, but we can't succeed without your help. 
                          |Let us know your thoughts on the platform and share your ideas around how you'd like to interact with the VOLO community.  
                          |All questions and feedback is welcome, so don't hesitate to 
                          a(href="mailto:melissa@volo.org.uk") contact us
                          |!
                          br
                          h4 We greatly appreciate your help in growing the VOLO volunteering community and we look forward to working alongside you to create social change!
                          p <i>The VOLO team</i>

